@mixin compose-circle(){
	position: absolute;
	border-radius: 100%;
	background: linear-gradient($global-orange-color, $global-pink-color);
	z-index: 0;
	box-shadow: 10px 10px 25px #3b3b3b;
	@content;
}

@mixin smaller-desktop(){
	@media (max-width: #{$desktop-breakpoint}){
		@content;
	}
}