// Global color variables
$global-pink-color: #EF126C;
$global-orange-color: #FF6A01;

// Navigation menu colors
$nav-bg-color: black;
$nav-text-color: white;

// Header colors
$header-text-color: white;

// Main colors
$main-bg: white;

// Navigation menu structure
$nav-height: 70px;

// Fancy Button
$fancy-button-text-color: white;

// Variables para definir los breakpoints de resolución
$desktop-breakpoint: 992px;

